* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #efefef;
}

body::before {
  content: "";
  background-color: #535971;
  height: 436px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header {
  width: 750px;
  height: 124px;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 140px;
  margin-bottom: 57px;
  padding: 0;
}

header h1 {
  margin: 0;
  font-family: "Staatliches", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 48px;
}

header p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 18px 0 0 0;
  font-size: 20px;
}

form {
  width: 750px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 20px 20px 0 0;
}

fieldset {
  width: 622px;
  margin: auto;
  border-style: none;
}

#info_pessoal legend {
  font-family: "Staatliches", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  color: #535971;
  padding-top: 65px;
}

hr {
  color: #e6e6f0;
  width: 622px;
  margin: 16px 0 36px;
  opacity: 50%;
}

#nome-wrapper {
  display: flex;
  width: 622px;
  gap: 22px;
  font-family: "Poppins", sans-serif;
  color: #4e4958;
  font-size: 14px;
}

#nome-wrapper label {
  display: inline-block;
}

#nome-wrapper input {
  width: 300px;
  height: 56px;
  border-radius: 8px;
  background-color: #fafafc;
  border: 1px solid #e6e6f0;
  display: inline-block;
}

#mail {
  font-family: "Poppins", sans-serif;
  color: #4e4958;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

input {
  width: 622px;
  height: 56px;
  border-radius: 8px;
  background-color: #fafafc;
  border: 1px solid #e6e6f0;
  display: inline-block;
  margin: 8px 0 16px;
}

span {
  color: #c1bccc;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

#info_mentor legend {
  font-family: "Staatliches", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  color: #535971;
  padding-top: 14px;
}

#info_mentor label {
  font-family: "Poppins", sans-serif;
  color: #4e4958;
  font-size: 14px;
}

#horarios legend {
  font-family: "Staatliches", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  color: #535971;
  padding-top: 14px;
}

#horarios h1 {
  font-family: "Staatliches", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: #535971;
}

#horarios span {
  margin-left: 7px;
}

#primeira,
#segunda {
  display: flex;
  width: 622px;
  font-family: "Poppins", sans-serif;
  color: #4e4958;
  font-size: 14px;
}

#data_wrapper,
#second_data_wrapper {
  font-family: "Poppins", sans-serif;
  color: #4e4958;
  font-size: 14px;
  display: block;
  margin-top: 8px;
}

#data_wrapper label,
#second_data_wrapper label {
  display: flex;
}

#data_wrapper input,
#second_data_wrapper input {
  width: 300px;
  display: inline-block;
}

#second_data {
  -webkit-appearance: none; /* Remover a aparência padrão no Chrome */
  -moz-appearance: none; /* Remover a aparência padrão no Firefox */
  appearance: none; /* Remover a aparência padrão nos navegadores que suportam */
}

#tempo,
#second_tempo {
  display: flex;
  gap: 10px;
}

#tempo_ini,
#second_tempo_ini {
  margin-top: 8px;
  margin-left: 32px;
  width: 140px;
}

#tempo_ini input,
#second_tempo_ini input {
  width: 140px;
}

#tempo_end,
#second_tempo_end {
  margin-top: 8px;
}

#tempo_end input,
#second_tempo_end input {
  width: 140px;
}

footer {
  height: 190px;
  background-color: #535971;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  margin: auto;
}
footer button {
  background-color: #ff5374;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 608px;
  height: 52px;
  border-radius: 20px;
  margin: auto;
  border: 0px;
  font-family: "Staatliches", sans-serif;
  font-size: 20px;
}
